.schedule-holder {
  min-height: 100vh;
  min-width: 100vw;
  background: #3777a6;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.schedule {
  max-width: 800px;
  width: 100%;
  margin-top: 32px;
  color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.title {
  font-size: 36pt;
  text-align: center;
}

.subtitle {
  font-size: 17pt;
  margin-top: 8px;
  text-align: center;
}

.calendar {
  margin-top: 32px;
  min-width: 100%;
  padding: 0 16px;
  background: transparent;
  box-sizing: border-box;
  border: none;
}

.calendar-tile {
  color: white;
}

button.calendar-tile:disabled {
  background: transparent;
  opacity: 0.5;
  color: white;
}

button.calendar-tile {
  border: 1px solid white;
}

.calendar-tile:hover {
  background: #006edc;
}

.react-calendar__navigation__label {
  color: white;
}

.react-calendar__navigation__label:hover, .react-calendar__year-view__months__month:hover {
  color: black;
}

.react-calendar__month-view__days__day--neighboringMonth {
  background: white;
  color: #747474;
}

.react-calendar__tile--now {
  color: black;
  background: #ffff76;
}

.date {
  margin-top: 32px;
  padding: 0 16px;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  font-size: 18pt;
}

.previous-curfew, .current-curfew {
  margin-top: 40px;
  padding: 0 16px;
  box-sizing: border-box;
  width: 100%;
  font-size: 18px;
}

@media screen and (min-width: 500px){
  .react-calendar__viewContainer {
    height: 300px;
  }

  .react-calendar__month-view,
  .react-calendar__month-view > div,
  .react-calendar__month-view > div > div {
    height: 100%;
  }

  .react-calendar__month-view__days {
    height: calc(100% - 30px);
  }
}