.logo-holder {
  position: absolute;
  left: 16px;

  width: 40px;
  height: 40px;
  background: white;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.schedule-holder {
  min-height: 100vh;
  background: #3777a6;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: white;
}

.schedule {
  max-width: 800px;
  width: 100%;
  margin-top: 16px;

  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.nav {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
  width: 100%;
  padding: 0 16px;
  box-sizing: border-box;
}

.title {
  font-size: 36pt;
  text-align: center;
}

.subtitle {
  font-size: 17pt;
  margin-top: 8px;
  text-align: center;
}

.calendar {
  margin-top: 32px;
  min-width: 100%;
  padding: 16px;
  background: transparent;
  box-sizing: border-box;
  border: none;

  position: sticky;
  top: 0;
  z-index: 1;
  background: var(--schedule-blue);
}

.calendar-tile {
  color: white;
}

button.calendar-tile:disabled {
  background: transparent;
  opacity: 0.5;
  color: white;
}

button.calendar-tile {
  border: 1px solid white;
}

.calendar-tile:hover {
  background: #006edc;
}

.react-calendar__navigation__label {
  color: white;
}

.react-calendar__navigation__label:hover, .react-calendar__year-view__months__month:hover {
  color: black;
}

.react-calendar__month-view__days__day--neighboringMonth {
  background: white;
  color: #747474;
}

.react-calendar__tile--now {
  color: black;
  background: #ffff76;
}

.react-calendar__month-view__weekdays__weekday > abbr {
  text-decoration: none;
}

.react-calendar__navigation__label__labelText {
  font-size: 14pt;
}

.date {
  margin-top: 32px;
  padding: 0 16px;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  font-size: 18pt;
}

.curfew-schedule {
  max-width: 800px;
  width: 100%;
  margin-top: 32px;
  display: flex;
  padding:  0 16px;
  box-sizing: border-box;
}

.events {
  text-align: center;
  width: 92%;
  margin-left: 32px;
  height: fit-content;
}

.events > div {
  position: relative;
}

.curfew {
  background: var(--active-curfew-red);
}

.movement {
  background: var(--free-movement-green);
}

.event {
  text-align: left;
  width: 100%;
  height: 72px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.times {
  width: 5%;
  min-width: 46px;
  margin-top: 11px;

  display: flex;
  flex-direction: column;
}

.time {
  display: flex;
  align-items: flex-end;
  width: 100%;
  max-height: 72px;
  min-height: 72px;
  padding: 0 16px;
  position: relative;
  border-bottom: 1px solid transparent;
}

.time > span {
  position: absolute;
  bottom: 0;
}

.name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 21pt;
}


.previous-curfew, .current-curfew {
  margin-top: 40px;
  padding: 0 16px;
  box-sizing: border-box;
  width: 100%;
  font-size: 18px;
}

@media screen and (max-width: 500px) {
  .logo-holder {
    position: relative;
  }

  .nav {
    justify-content: space-between;
  }
}

@media screen and (min-width: 500px){

  .react-calendar__viewContainer {
    height: 300px;
  }

  .react-calendar__month-view,
  .react-calendar__month-view > div,
  .react-calendar__month-view > div > div {
    height: 100%;
  }

  .react-calendar__month-view__days {
    height: calc(100% - 30px);
  }
}

.gh-icon {
  position: unset;
  margin: 24px 0 16px
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: var(--schedule-blue);
}

::-webkit-scrollbar {
  width: 5px;
  background-color: white;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px white;
  background-color: white;
}