@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
  font-family: 'Digital Numbers';
  src: url(./font/digital-7.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Digital Numbers';
  src: url(./font/digital-7-italic.woff) format('woff');
  font-weight: normal;
  font-style: italic;
}

:root {
  --free-movement-green: #25B900;
  --active-curfew-red: #C32828;
  --imminent-curfew-orange: #C38528;
  --schedule-blue: #3777A6;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
